In [1]:
import os
os.chdir('..')
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
dfe = (
    pd.read_excel('data/exvivo/e_Individual_List/individual_information_exvivo.xlsx')
    .dropna(axis=1, how='all')
)
dfe.columns = [x.lower().replace(' ', '_') for x in dfe.columns]

dfi = (
    pd.read_excel('data/invivo/i_Individual_List/individual_information_invivo.xlsx')
    .dropna(axis=1, how='all')
)

dfi.columns = [x.lower().replace(' ', '_') for x in dfi.columns]

In [21]:
dfe.head().T

,0,1,2,3,4
ex_vivo_database_number,ex001,ex002,ex003,ex004,ex005
age,5.073973,5.243836,5.216438,2.717808,5.232877
sex,F,M,F,F,F
hr-t2wi_image,1.0,1.0,1.0,1.0,1.0
diffusion_metrics_image_and_structural_connectome,1,1,1,1,1
label_image,1,1,1,1,1
in_vivo_data,-,-,i052,i031,i053

In [22]:
dfi.head().T

,0,1,2,3,4
in_vivo_database_number,1,2,3,4,5
age,1.884932,1.884932,2.0,2.005479,2.117808
sex,M,M,M,M,M
weight,300,305,318,283,334
relaxometry_image,1,1,1,1,1
diffusion_metrics_image_and__structural_connectome,1,1,1,0,1
label_image,1,1,1,1,1
anethtized_state_functional_connectome,0,0,0,0,1
awakefull_state_functional_connectome,0,0,0,0,0
exvivo_data,0,0,0,0,0